<app-navbar></app-navbar>

<section class="relative py-24 bg-gradient-to-b from-[#E6F3F5] to-white">
    <div class="max-w-6xl mx-auto px-6 flex flex-col-reverse md:flex-row items-center gap-12">

        <!-- Texto -->
        <div class="md:w-1/2 text-center md:text-left">
            <h2 class="text-4xl md:text-5xl font-extrabold text-[#031718] mb-6 leading-tight">
                Capachica: <span class="text-[#0D7075]">cultura y naturaleza viva</span>
            </h2>
            <p class="text-[#082D33] text-lg leading-relaxed mb-6">
                El distrito de Capachica se encuentra localizada en la Región, Provincia y Departamento de Puno a
                una altitud de 3,880 m.s.n.m. Latitud sur 15° 38 30* y longitud oeste 69° 49 50* del meridiano de
                Greenwich. Se ubica a 62 kilómetros al Nor-Oeste de la ciudad de Puno. Juntamente con la
                península de Chucuito encierran el golfo de Puno.
                Capachica está conformado por 10 comunidades: Capachica, Miraflores, Lago Azul, Toctoro, Siale,
                San Cristobal, Yancaco Grande, Chillora, Capano, Collpa. Y 6 centros poblados; Llachon, Yapura,
                Hilata, Ccotos, Escallani, Isañura.
            </p>


            <a href="/zonas-turisticas"
                class="inline-block bg-[#11969D] text-white px-8 py-3 rounded-full font-semibold shadow hover:bg-[#0D7075] transition">
                Conoce nuestras comunidades →
            </a>
        </div>

        <!-- Imagen -->
        <div class="md:w-1/2">
            <img src="assets/images/capachica-mirador.jpg" alt="Vista de Capachica"
                class="rounded-3xl shadow-lg w-full object-cover max-h-[400px]">
        </div>

    </div>
</section>

<app-footer></app-footer>