<div class="flex flex-wrap gap-4 mt-6">
  <button class="bg-yellow-400 px-4 py-2 rounded text-white" (click)="cambiarEstado('Pendiente')">Pendiente</button>
  <button class="bg-green-500 px-4 py-2 rounded text-white" (click)="cambiarEstado('Aprobada')">Aprobada</button>
  <button class="bg-red-500 px-4 py-2 rounded text-white" (click)="cambiarEstado('Rechazada')">Rechazada</button>
  <button class="bg-indigo-600 px-4 py-2 rounded text-white" (click)="enviarAdvertencia()">Enviar Advertencia</button>
</div>
